extends ./layout.jade

block content
   p This page allows the configuration of the entire receive chain from the RF front end to the digital backend. Select the channel that is being configured.
   p The signal is first sampled from the antenna which is connected to the SMA connector on the Crimson. The analog signal is fed through an RF switch based on the frequency of the signal being sampled. High band is reserved for signals greater than 500 MHz, and the low band is reserved for signals less than 500 MHz. Crimson currently supports signals up to 6 GHz. Within the respective RF chains (high and low) it filters the analog signal and divides it into I and Q channels for advanced signal processing on the FPGA. The high band offers an LNA for weaker signals, and a frequency mixer for desired intermediate frequencies prior to signal processing. The low band offers a varactor circuit to fine tune the delay between the I and Q channel. An ADC driver is common between both bands (high and low) prior to the ADC. The ADC will send the data across to the DSP chain within the FPGA at a rate of 322 MSPS using the JESD serial interface. The DSP chain will downsample the samples resulting in an adjusted final sample rate. The frequency of the signal can be adjusted prior to decimation.
   ul.nav.nav-tabs
      li.active(role="presentation")
         a#chan_a Channel A
   br
   p
      b Channel Enable 
      input(type="checkbox", name='en', unchecked)#chan_en
   p
      b Raw Waveform 
      input(type="checkbox", name='en', unchecked)#raw_wave_en
   .container-fluid(style="text-align:left")
      .row
         .col-md-15
            h3 PPS Triggered Settings
            hr
            .container-fluid(style="text-align:left")
               .row
                  .col-md-2
                     b Mode of Operation 
                     form
                        input(type='radio' name='op_mode' value='0')
                        |  Normal 
                        br
                        input(type='radio' name='op_mode' value='1')
                        |  PPS Triggered 
                        br
                        input(type='radio' name='op_mode' value='2')
                        |  Flood
                        br
                  .col-md-3
                     p
                        b Expected Payload (0x00 -> 0xff)
                     | 0x 
                     input.input-xs(type="text").width-100#pay_val
                     |  
                     button.btn.btn-default.btn-sm#pay_set Set Payload 
                  .col-md-3
                     p
                        b Current Payload Value
                     p#pay_val_display
                        |  -
                  .col-md-2
                     .col-md-12
                        .row
                           p
                              b RX Packet Counter
                           #cd_total_pkts.inline-block
                        .row 
                           br
                           p
                              b Matched Packet Counter
                           #cd_match_pkts.inline-block
                  .col-md-1
                     br
                     br
                     button.btn.btn-default.btn-sm#ctr_rst Reset Counters
               br
               .row.top-buffer-12
                  .col-md-12
                     b Recent Latency Readings
                     table.table
                        thead
                           tr
                              th #
                              th 1
                              th 2
                              th 3
                              th 4
                        tbody
                           tr
                              th Ticks
                              td#pps_tick_display1  - 
                              td#pps_tick_display2  - 
                              td#pps_tick_display3  - 
                              td#pps_tick_display4  - 
                           tr
                              th Time (ms)
                              td#pps_sec_display1  - 
                              td#pps_sec_display2  - 
                              td#pps_sec_display3  - 
                              td#pps_sec_display4  - 
   h3 Radio Configuration
   hr
   .container-fluid(style="text-align:center")
      .row
        .col-md-1
            p
               b Enable LNA
            input(type='checkbox', name='en', unchecked)#lna_en
        .col-md-1
            p
               b Enable PA
            input(type='checkbox', name='en', unchecked)#pamp_en
        .col-md-5
            .row
                .col-md-6
                    p
                       b Automatic Gain Control
                .col-md-6 
                    input(type='checkbox', name='en', checked, readonly)#agc
            input(type='range', min = '0', max='127', step='1', disabled)#agc_range
            p
                #agc_display.inline-block
            br
         .col-md-5
            p
               b RX Gain - LMH6521
            input(type='range', min='0', max='126', step='2')#gain_range
            p
               #gain_display.inline-block
            br
   img(src="/img/rx_chain.svg", style="width: 100%; height: 100%;").center
   br
   h3 Demodulator Settings
   hr
   .container-fluid(style="text-align:left")
      .row
         .col-md-1
            p
               b Reset DSP
            button.btn.btn-default.btn-xs#dsp_reset Reset
         .col-md-2
            p
               b Signed Data
            input(type="checkbox", name='en', unchecked)#signed
         .col-md-2
            p
               b Intermediate Frequency
            input.input-xs(type="text").width-120#if
            |  Hz &nbsp;&nbsp;
            button.btn.btn-default.btn-xs#if_set Set
         .col-md-2
            p
               b Bandwidth
            select.form-control.width-200#bandwidth
               option(value='1039') 10  KHz
               option(value='2079') 5   KHz
               option(value='4159') 2.5   KHz
               option(value='8191' ) 1.25 KHz
            p(style="text-align:left; padding-top: 10px;")
               i Please readjust intermediate frequency after making changes.
         .col-md-1
         .col-md-4
            p
               b Destination Link
            .row.top-buffer-5
               .col-md-4.text-right
                  | IPV4 IP Address
               .col-md-4
                  input.width-150.input-xs(type="text")#ip
               .col-md-4.text-left
                  button.btn.btn-default.btn-xs#link_set Set
            .row.top-buffer-5
               .col-md-4.text-right
                  | MAC Address
               .col-md-4
                  input.width-150.input-xs(type="text")#mac
            .row.top-buffer-5
               .col-md-4.text-right
                  | UDP Port
               .col-md-4
                  input.width-150.input-xs(type="text")#port
   br
   img(src="/img/rx_dsp.svg", style="width: 75%; height: 75%;").center
   br
   h3 RX Board Control
   hr
   .container-fluid
      .row
         .col-md-3
            b JESD Sync
            .row
               .col-md-4.top-buffer-5
                  button.btn.btn-default.btn-xs.btn-block#jesdsync Sync
            br
            b Channel IC's
            br
            .row
               .col-md-3.top-buffer-5.right-pad-0
                  | ADC
               .col-md-3.top-buffer-5.right-pad-0
                  | LMH
               .col-md-3.top-buffer-5.right-pad-0
                  | GPIOX
               .col-md-3.top-buffer-5.right-pad-0
                  | LED
            .row
               .col-md-3.top-buffer-5.right-pad-0
                  button.btn.btn-default.btn-xs.btn-block#adc_dump Dump
               .col-md-3.top-buffer-5.right-pad-0
                  button.btn.btn-default.btn-xs.btn-block#lmh_dump Dump
               .col-md-3.top-buffer-5.right-pad-0
                  button.btn.btn-default.btn-xs.btn-block#gpiox_dump Dump
               .col-md-3.top-buffer-5.right-pad-0
                  button.btn.btn-default.btn-xs.btn-block#led Test
         .col-md-2
            b Board Version
            .row
               .col-md-6.top-buffer-5
                  button.btn.btn-default.btn-xs.btn-block#version Get
            br
            b Board Temperature
            .row
               .col-md-6.top-buffer-5
                  button.btn.btn-default.btn-xs.btn-block#temperature Get
         .col-md-7
            b Console Output
            br
            textarea.form-control#cout(rows='10', readonly)
